@import "tailwindcss";

.button-col {
  width: 150px; /* Ajuster la largeur de la colonne des boutons */
  justify-content: space-evenly; /* Espacement égal entre les boutons */
  align-items: center;
}
